{{=<% %>=}}
<footer>
	<div class="row">
		<div class="large-8 columns push-4 border-top">
			<div class="row">
				<div class="large-6 small-12 columns hide-for-small">
					<%> widgets/map_footer%>
				</div>
				<div class="large-6 small-12 columns">
					<h4 data-editable="texts_info">{{texts_info}}</h4>
					<p class="email-icon"><strong><a href="mailto:{{company_email}}" data-editable="company_email">{{company_email}}</a></strong></p>
					<p class="address-icon">
						<strong data-editable="company_brand">{{company_brand}}</strong><br>
						<span  data-editable="company_address">{{{company_address}}}</span>
					</p>
					<p class="house-icon">
						<strong data-editable="texts_business_hours_title">{{texts_business_hours_title}}</strong><br>
						<span data-editable="business_hours">{{business_hours}}</span>
					</p>
					<p class="phone-icon"><strong data-editable="texts_phone_title">{{texts_phone_title}}</strong> <span data-editable="company_phone">{{company_phone}}</span></p>
				</div>
			</div>
		</div>
		<div class="large-4 columns pull-8">
			<h1 class="animated fadeInDown" data-brand>{{company_logo}}</h1>
		</div>
	</div>
</footer>
</div>
