{{=<% %>=}}
<div class="row">
  <div class="large-4 small-center small-12 columns">
    <h1 class="animated fadeInDown" data-brand>{{company_logo}}</h1>
  </div>
  <div class="large-8 columns custom-menu">
    <div>
      <a class="toggle-menu" data-editalbe="menu_menu_title" href="#">{{menu_menu_title}}</a>
    </div>
    
    <ul class="nav" data-menu>
      <li><a href="/home" class="animated-all" data-content="menu_home">{{menu_home}}</a></li>
      <li><a href="/sobre" class="animated-all" data-content="menu_about">{{menu_about}}</a></li>
      <li><a href="/galeria" class="animated-all" data-content="menu_gallery">{{menu_gallery}}</a></li>
      <li><a href="/contato" class="animated-all" data-content="menu_contact">{{menu_contact}}</a></li>
      <li class="toggle-link show-for-small"></li>
    </ul>
  </div>
</div>
