{{=<% %>=}}
<div id="bdb-main">
<header>
<%> commons/header%>

<div class="row">
  <div class="content-destak large-12 columns middle-height animated fadeInLeft" data-editable-img="image_contact_875x268" style="background-image: url({{image_contact_875x268}});">
    <div class="small-10 small-centered columns">
      <h2 data-editable="title_contact">{{title_contact}}</h2>
    </div>
  </div>
</div>

</header>

<div class="row push-down">
	<div class="large-12 column">
		<%> widgets/map%>
	</div>
</div>

<div class="row normal-push-down">
	<div class="large-12 column"><h3 data-editable="page_name" class="form-contact-heading">{{page_name}}</h3></div>
</div>
<div class="row">
	<div class="large-5 column">
		<form class="form-contact">
			<fieldset class="inputs">
				<legend data-editable="form_description">{{form_description}}</legend>
				<input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <input type="text" placeholder="Telefone para contato">
        <textarea name="" placeholder="Mensagem"></textarea>
			</fieldset>
			<fieldset class="buttons">
				<button data-editable="form_button_name" class="default-link button-dark large-5 all-size" type="submit">{{form_button_name}}</button>
			</fieldset>
		</form>
	</div>
	<div class="large-5 column content-contact hide-for-small">
		<p class="custom-icon hour">
      <strong data-editable="texts_business_hours_title">
        {{texts_business_hours_title}}</strong>
      <br>
      <span data-editable="business_hours">
        {{business_hours}}
      </span>
    </p>

		<p class="custom-icon phone"><strong data-editable="texts_phone_title">{{texts_phone_title}} </strong><span data-editable="phone">{{company_phone}}</span></p>
		<address>
			<p class="custom-icon address">
			<strong>{{company_brand}}</strong><br>
				<span>{{{company_address}}}</span>
			</p>
			</address>
	</div>
</div>
