{{=<% %>=}}
<div id="bdb-main">
<header>
<%> commons/header%>

<div class="row">
  <div class="content-destak large-12 columns middle-height animated fadeInLeft" data-editable-img="image_gallery_875x268" style="background-image: url({{image_gallery_875x268}});">
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2 data-editable="title_gallery">{{title_gallery}}</h2>
      </div>
    </div>
  </div>
</div>
</header>

<div class="row">
  <div data-gallery ></div>
</div>
