{{=<% %>=}}

<div id="bdb-main">
<header>
<%> commons/header%>

<div class="row">
  <div class="content-destak large-12 columns animated fadeInLeft" data-editable-img="image_banner_875x543" style="background-image: url({{image_banner_875x543}});">
    <div class="small-10 small-centered columns">
      <h2 data-editable="destak_title">{{destak_title}}</h2>
      <p data-editable="destak_description" class="large-7 small-12 small-centered columns">{{destak_description}}</p>
      <a href="#" data-editable="link_go_page" class="default-link button-white animated-all">{{link_go_page}}</a>
    </div>
  </div>
</div>
</header>

<div class="row m-container normal-img">
	<div class="large-4 columns article-destak">
		<a href="#">
			<img data-editable-img="image_artigo1_320x130" src="{{image_artigo1_320x130}}" alt="" class="border-top padding-border" />
			<h3 data-editable="title_home_first">{{title_home_first}}</h3>
			<p data-editable="text_home_first">{{text_home_first}}</p>
		</a>
	</div>
	<div class="large-4 columns article-destak">
		<a href="#">
			<img data-editable-img="image_artigo2_320x130" src="{{image_artigo2_320x130}}" alt="" class="border-top padding-border" />
			<h3 data-editable="title_home_second">{{title_home_second}}</h3>
			<p data-editable="text_home_second">{{text_home_second}}</p>
		</a>
	</div>
	<div class="large-4 columns article-destak">
		<a href="#">
			<img data-editable-img="image_artigo3_320x130" src="{{image_artigo3_320x130}}" alt="" class="border-top padding-border" />
			<h3 data-editable="title_home_middle">{{title_home_middle}}</h3>
			<p data-editable="text_home_middle">{{text_home_middle}}</p>
		</a>
	</div>
</div>
<div class="row push-down m-container">
	<div class="large-8 columns article-destak big-img">
		<a href="#"><img data-editable-img="image_destaque_640x246" src="{{image_destaque_640x246}}" alt=""/></a>
	</div>
	<div class="large-4 columns article-destak-text">
		<a href="#">
			<h3 data-editable="title_home_last" class="border-top">{{title_home_last}}</h3>
			<p data-editable="text_home_last">{{{text_home_last}}}</p>
		</a>
		<a href="#" data-editable="text_button" class="default-link button-dark animated-all all-size">{{text_button}}</a>
	</div>
</div>
