{{=<% %>=}}
<div id="bdb-main">
<header>
<%> commons/header%>

<div class="row">
  <div class="content-destak large-12 columns middle-height animated fadeInLeft" data-editable-img="image_banner_875x268" style="background-image: url({{image_banner_875x268}});">
    <div class="small-10 small-centered columns">
      <h2 data-editable="title">{{title_about}}</h2>
    </div>
  </div>
</div>

</header>

<div class="row push-down m-container big-img-about">
	<div class="large-6 columns article-destak">
		<a href="#"><img src="{{image_destaque_460x280}}" data-editable-img="image_destaque_460x280" /></a>
	</div>
	<div class="large-6 columns article-destak-text minor-text">
		<h3 class="border-top" data-editable="mission_about">{{{mission_about}}}</h3>
		<p data-editable="text_about">{{{text_about}}}</p>
		<a href="#" data-editable="button_text" class="default-link button-dark animated-all hide-for-small">{{button_text}}</a>
	</div>
</div>

<div class="row push-down m-container normal-img">
	<div class="large-4 small-12 columns article-destak-text">
		<img data-editable-img="image_artigo1_320x240" src="{{image_artigo1_320x240}}" alt="" class="border-top padding-border" />
		<h3 data-editable="title_person">{{title_person}}</h3>
		<p data-editable="text_person">{{text_person}}</p>
	</div>
	<div class="large-4 small-12 columns article-destak-text">
		<img data-editable-img="image_artigo2_320x240" src="{{image_artigo2_320x240}}" alt="" class="border-top padding-border" />
		<h3 data-editable="title_person">{{title_person}}</h3>
		<p data-editable="text_person">{{text_person}}</p>
	</div>
	<div class="large-4 small-12 columns article-destak-text">
		<img data-editable-img="image_artigo3_320x240" src="{{image_artigo3_320x240}}" alt="" class="border-top padding-border" />
		<h3 data-editable="title_person">{{title_person}}</h3>
		<p data-editable="text_person">{{text_person}}</p>
	</div>
</div>

