{{=<% %>=}}
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
{{! <meta name="viewport" content="width=device-width" /> }}
<meta name="viewport" content="width=320" />
<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicons/apple-touch-icon-144x144-precomposed.png">
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicons/apple-touch-icon-114x114-precomposed.png">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicons/apple-touch-icon-72x72-precomposed.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="images/favicons/apple-touch-icon-precomposed.png">

<link rel="icon" href="images/favicons/favicon.ico" type="image/x-icon" />

<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="Wylkon Cardoso" />
<meta name="copyright" content="Badabum" />

<title>{{title}}</title>
