{{=<% %>=}}
<div class="map-contact">
    <iframe width="100%" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;q={{ maps_address }}&amp;hl=pt-BR&amp;ie=UTF8&amp;output=embed&amp;iwloc=near"></iframe>
</div>