@import "styles.less";
// brown palette
// "colors" : ["#000000", "#4F3F27", "#B48F26", "#E4DCC4", "#FFFFFF"]

@brown1: #E4DCC4;
@brown2: #000000;
@brown3: #B48F26;
@brown4: #FFFFFF;
@brown5: #4f3f27;

// color elements

*{
  a {
    color: @brown3;
  }
}

*::selection {
  background: #ddd;
}
*::-moz-selection {
  background: #ddd;
}
#bdb-main {
	background: @brown1;
	color: @brown5;
}

.default-link {
	color: @brown5;
  &.button-white {
    border-color: @brown4;
    background: @brown4;
    color: @brown5;
    &:hover {
      color: @brown4;
    }
  }
  &.button-dark {
    border-color: @brown5;
    background: @brown5;
    color: @brown4;
    &:hover {
      border-color: @brown3;
    }
    &.icon-address-link {
      background: @brown5 url(../images/address-icon-brown.png) 30px 6px no-repeat; 
    }
  }
}

.border-top {
  border-top: 2px solid @brown3;
}

// Header
header {
  h1 {
    color: @brown5;
    a {
      background: url(../images/line-title-brown.png) left bottom no-repeat;
      &:hover {
        color: @brown3;
      }
    }
  }
  ul {
    li {
      a {
        color: @brown3;
        background: url(../images/brown-arrow.png) center -100px no-repeat;
        &:hover,
        &.actived {
          color: @brown5;
        }
      }
    }
  }
}

// Footer
footer {
  background: @brown5;
  h1 {
    color: @brown4;
    a {
      background: url(../images/line-title-white.png) left bottom no-repeat;
    }
  }
  h4 {
    color: @brown4;
  }
  p {
    color: @brown4;
    &.email-icon {
      background: url(../images/email-icon-brown.png) 0 5px no-repeat;
    }
    &.house-icon {
      background: url(../images/house-icon-brown.png) 0 5px no-repeat;
    }
    &.address-icon {
      background: url(../images/address-icon-brown.png) 0 5px no-repeat;
    }
    &.phone-icon {
      background: url(../images/phone-icon-brown.png) 0 5px no-repeat;
    }
  }
  a {
    color: @brown4;
    &:hover {
      color: @brown3;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    h1 {
      border-top: 2px solid @brown4;
    }
  }
}

.content-destak {
  &.middle-height {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
  h2 {
    color: @brown4;
  }
  p {
    color: @brown4;
  }
}
@media screen and (max-width: 768px) {
  .content-destak {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
}

.article-destak,
.article-destak-text {
  h3 {
    color: @brown5;
  }
  p {
    color: @brown2;
  }
}

form {
  fieldset {
    &.inputs {
      input, 
      textarea {
        border: 1px solid #bcb49f;
        color: @brown2;
        background: #cfc7b0;
        box-shadow: inset 1px 1px 5px #bcb49f;
        &:focus{
          border: 1px solid #d1d1d1; 
          background: #fafafa;
        }
      }
      ::-webkit-input-placeholder {
         color: @brown2;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: @brown2;  
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: @brown2;  
      }

      :-ms-input-placeholder {  
         color: @brown2;  
      }
    }
  }
}

.form-contact-heading {
  color: @brown5;
}

.form-contact legend {
  color: @brown2;
}

.content-contact {
  color: @brown2;
}

.custom-icon {
  &.hour {
    background: url(../images/hour-brown.png) left 6px no-repeat
  }
  &.address {
    background: url(../images/address-brown.png) left 6px no-repeat 
  }
  &.phone {
    background: url(../images/phone-brown.png) left 6px no-repeat 
  }
}

// Custom Menu
.toggle-menu {
  background: @brown1 url(../images/menu-right-bottom-brown.png) center right no-repeat;
  color: @brown3;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}


@media screen and (max-width: 768px) {
  .custom-menu {
    ul {
      li {
        a {
          background: @brown1 url(../images/menu-right-brown.png) center right no-repeat;
          border-bottom: 1px solid #e5e5e5;
          &.actived {
            background: @brown1 url(../images/menu-right-top-brown.png) center right no-repeat;
            color: @brown5;
          }
          &:hover {
            background-position: center right;
            color: @brown4;
          }
        }
        &.toggle-link {
          background: #d8d1ba url(../images/menu-top-brown.png) center center no-repeat;
        }
      }
    }
  }
}

.orbit-bullets {
  li {
    background: @brown3;
    &.active {
      background: @brown5;
    }
  }
}

.orbit-container {
  background:  none;
  h3 {
    color: @brown5;
  }
  p {
    color: @brown2;
  }
}

.image-hover-effect {
  .image-description {
    background: rgba(79, 63, 39, 0.9);
    h3 {
      color: @brown4;
    }
    p {
      color: @brown4;
    }
  }
}

#gallerymodal {
  background: url(../images/ajax-loader-brown.gif) center no-repeat;
  .next-photo,
  .prev-photo {
    background: url(../images/prev-arrow.png) no-repeat;
  }
  .next-photo {
    background: url(../images/next-arrow.png) no-repeat;
  }
  .header-gallery {
    a {
      color: @brown5;
      background: url(../images/close-icon-brown.png) right center no-repeat;
    }
  }
  .title-gallery {
    h3 {
      color: @brown5;
    }
    p {
      color: @brown2;
    }
  }
}

@media screen and (max-width: 768px) {
  #gallerymodal {
    background: #000 url(../images/ajax-loader-mobile.gif) center no-repeat;
    .header-gallery {
      a {
        color: @brown1;
        background: url(../images/close-icon-mobile.png) right center no-repeat;
      }
    }
    .title-gallery {
      h3 {
        color: @brown1;
      }
      p {
        color: @brown1;
      }
    }
  }
}

.wk-overlay {
  background: rgba(228, 220, 196, 0.9);
}