@import "styles.less";
// green palette
// "colors" : ["#6A6A6A", "#4A5C30", "#7E9A58", "#DEE8D0", "#FFFFFF"]

@green1: #DEE8D0;
@green2: #6A6A6A;
@green3: #7E9A58;
@green4: #FFFFFF;
@green5: #4A5C30;

// color elements

*{
  a {
    color: @green3;
  }
}

*::selection {
  background: #ddd;
}
*::-moz-selection {
  background: #ddd;
}
#bdb-main {
	background: @green1;
	color: @green5;
}

.default-link {
	color: @green5;
  &.button-white {
    border-color: @green4;
    background: @green4;
    color: @green5;
    &:hover {
      color: @green4;
    }
  }
  &.button-dark {
    border-color: @green5;
    background: @green5;
    color: @green4;
    &:hover {
      border-color: @green3;
    }
    &.icon-address-link {
      background: @green5 url(../images/address-icon-green.png) 30px 6px no-repeat; 
    }
  }
}

.border-top {
  border-top: 2px solid @green3;
}

// Header
header {
  h1 {
    color: @green5;
    a {
      background: url(../images/line-title-green.png) left bottom no-repeat;
      &:hover {
        color: @green3;
      }
    }
  }
  ul {
    li {
      a {
        color: @green3;
        background: url(../images/green-arrow.png) center -100px no-repeat;
        &:hover,
        &.actived {
          color: @green5;
        }
      }
    }
  }
}

// Footer
footer {
  background: @green5;
  h1 {
    color: @green4;
    a {
      background: url(../images/line-title-white.png) left bottom no-repeat;
    }
  }
  h4 {
    color: @green4;
  }
  p {
    color: @green4;
    &.email-icon {
      background: url(../images/email-icon-green.png) 0 5px no-repeat;
    }
    &.house-icon {
      background: url(../images/house-icon-green.png) 0 5px no-repeat;
    }
    &.address-icon {
      background: url(../images/address-icon-green.png) 0 5px no-repeat;
    }
    &.phone-icon {
      background: url(../images/phone-icon-green.png) 0 5px no-repeat;
    }
  }
  a {
    color: @green4;
    &:hover {
      color: @green3;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    h1 {
      border-top: 2px solid @green4;
    }
  }
}

.content-destak {
  &.middle-height {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
  h2 {
    color: @green4;
  }
  p {
    color: @green4;
  }
}
@media screen and (max-width: 768px) {
  .content-destak {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
}

.article-destak,
.article-destak-text {
  h3 {
    color: @green5;
  }
  p {
    color: @green2;
  }
}

form {
  fieldset {
    &.inputs {
      input, 
      textarea {
        border: 1px solid #acb79e;
        color: @green2;
        background: #cad5bc;
        box-shadow: inset 1px 1px 5px #acb79e;
        &:focus{
          border: 1px solid #d1d1d1; 
          background: #fafafa;
        }
      }
      ::-webkit-input-placeholder {
         color: @green2;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: @green2;  
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: @green2;  
      }

      :-ms-input-placeholder {  
         color: @green2;  
      }
    }
  }
}

.form-contact-heading {
  color: @green5;
}

.form-contact legend {
  color: @green2;
}

.content-contact {
  color: @green2;
}

.custom-icon {
  &.hour {
    background: url(../images/hour-green.png) left 6px no-repeat
  }
  &.address {
    background: url(../images/address-green.png) left 6px no-repeat 
  }
  &.phone {
    background: url(../images/phone-green.png) left 6px no-repeat 
  }
}

// Custom Menu
.toggle-menu {
  background: @green1 url(../images/menu-right-bottom-green.png) center right no-repeat;
  color: @green3;
  border-top: 1px solid #c2cfaf;
  border-bottom: 1px solid #c2cfaf;
}


@media screen and (max-width: 768px) {
  .custom-menu {
    ul {
      li {
        a {
          background: @green1 url(../images/menu-right-green.png) center right no-repeat;
          border-bottom: 1px solid #c2cfaf;
          &.actived {
            background: @green1 url(../images/menu-right-top-green.png) center right no-repeat;
            color: @green5;
          }
          &:hover {
            background-position: center right;
            color: @green4;
          }
        }
        &.toggle-link {
          background: #d3dcc5 url(../images/menu-top-green.png) center center no-repeat;
        }
      }
    }
  }
}

.orbit-bullets {
  li {
    background: @green3;
    &.active {
      background: @green5;
    }
  }
}

.orbit-container {
  background:  none;
  h3 {
    color: @green5;
  }
  p {
    color: @green2;
  }
}

.image-hover-effect {
  .image-description {
    background: rgba(74, 92, 48, 0.9);
    h3 {
      color: @green4;
    }
    p {
      color: @green4;
    }
  }
}

#gallerymodal {
  background: url(../images/ajax-loader-green.gif) center no-repeat;
  .next-photo,
  .prev-photo {
    background: url(../images/prev-arrow.png) no-repeat;
  }
  .next-photo {
    background: url(../images/next-arrow.png) no-repeat;
  }
  .header-gallery {
    a {
      color: @green5;
      background: url(../images/close-icon-green.png) right center no-repeat;
    }
  }
  .title-gallery {
    h3 {
      color: @green5;
    }
    p {
      color: @green2;
    }
  }
}

@media screen and (max-width: 768px) {
  #gallerymodal {
    background: #000 url(../images/ajax-loader-mobile.gif) center no-repeat;
    .header-gallery {
      a {
        color: @green1;
        background: url(../images/close-icon-mobile.png) right center no-repeat;
      }
    }
    .title-gallery {
      h3 {
        color: @green1;
      }
      p {
        color: @green1;
      }
    }
  }
}

.wk-overlay {
  background: rgba(222, 232, 209, 0.9);
}