@import "styles.less";
// normal palette
// "colors" : ["#ffffff", "#ececec", "#797979", "#2f2f2f", "#222222"]

@normal1: #fff;
@normal2: #ececec;
@normal3: #797979;
@normal4: #2f2f2f;
@normal5: #222;

// color elements

*{
  a {
    color: @normal3;
  }
}

*::selection {
  background: #ddd;
}
*::-moz-selection {
  background: #ddd;
}

#bdb-main {
	background: @normal1;
	color: @normal4;
}

.default-link {
	color: @normal4;
  &.button-white {
    border-color: @normal1;
    background: @normal1;
    color: @normal4;
    &:hover {
      color: @normal1;
    }
  }
  &.button-dark {
    border-color: @normal4;
    background: @normal4;
    color: @normal1;
    &:hover {
      border-color: @normal5;
    }
    &.icon-address-link {
    background: @normal4 url(../images/address-icon.png) 30px 6px no-repeat; 
  }
  }
}

.border-top {
  border-top: 2px solid @normal3;
}

// Header
header {
  h1 {
    color: @normal4;
    a {
      background: url(../images/line-header.png) left bottom no-repeat;
      &:hover {
        color: @normal3;
      }
    }
  }
  ul {
    li {
      a {
        color: @normal3;
        background: url(../images/arrow.png) center -100px no-repeat;
        &:hover,
        &.actived {
          color: @normal4;
        }
      }
    }
  }
}

// Footer
footer {
  background: @normal5;
  h1 {
    color: @normal1;
    a {
      background: url(../images/line-title-white.png) left bottom no-repeat;
    }
  }
  h4 {
    color: @normal1;
  }
  p {
    color: @normal3;
    &.email-icon {
      background: url(../images/email-icon.png) 0 5px no-repeat;
    }
    &.house-icon {
      background: url(../images/house-icon.png) 0 5px no-repeat;
    }
    &.address-icon {
      background: url(../images/address-icon.png) 0 5px no-repeat;
    }
    &.phone-icon {
      background: url(../images/phone-icon.png) 0 5px no-repeat;
    }
  }
  a {
    color: @normal3;
    &:hover {
      color: @normal3;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    h1 {
      border-top: 2px solid @normal4;
    }
  }
}

.content-destak {
  &.middle-height {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
  h2 {
    color: @normal1;
  }
  p {
    color: @normal1;
  }
}
@media screen and (max-width: 768px) {
  .content-destak {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
}

.article-destak,
.article-destak-text {
  h3 {
    color: @normal4;
  }
  p {
    color: @normal3;
  }
}

form {
  fieldset {
    &.inputs {
      input, 
      textarea {
        border: 1px solid #d1d1d1;
        color: @normal3;
        background: #ececec;
        box-shadow: inset 1px 1px 5px #d1d1d1;
        &:focus{
          border: 1px solid #d1d1d1; 
          background: #fafafa;
        }
      }
    }
  }
}

.content-contact {
  color: @normal3;
}

.custom-icon {
  &.hour {
    background: url(../images/hour.png) left 6px no-repeat
  }
  &.address {
    background: url(../images/address.png) left 6px no-repeat 
  }
  &.phone {
    background: url(../images/phone.png) left 6px no-repeat 
  }
}

// Custom Menu
.toggle-menu {
  background: @normal1 url(../images/menu-right-bottom.png) center right no-repeat;
  color: @normal3;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}


@media screen and (max-width: 768px) {
  .custom-menu {
    ul {
      li {
        a {
          background: @normal1 url(../images/menu-right.png) center right no-repeat;
          border-bottom: 1px solid #e5e5e5;
          &.actived {
            background: @normal1 url(../images/menu-right-top.png) center right no-repeat;
            color: @normal4;
          }
          &:hover {
            background-position: center right;
            color: @normal4;
          }
        }
        &.toggle-link {
          background: #f2f2f2 url(../images/menu-top.png) center center no-repeat;
        }
      }
    }
  }
}

.orbit-bullets {
  li {
    background: @normal2;
    &.active {
      background: @normal4;
    }
  }
}

.orbit-container {
  background:  none;
  h3 {
    color: @normal4;
  }
  p {
    color: @normal3;
  }
}

.image-hover-effect {
  .image-description {
    background: rgba(0, 0, 0, 0.6);
    h3 {
      color: @normal1;
    }
    p {
      color: @normal1;
    }
  }
}

#gallerymodal {
  background: url(../images/ajax-loader.gif) center no-repeat;
  .next-photo,
  .prev-photo {
    background: url(../images/prev-arrow.png) no-repeat;
  }
  .next-photo {
    background: url(../images/next-arrow.png) no-repeat;
  }
  .header-gallery {
    a {
      color: @normal4;
      background: url(../images/close-icon.png) right center no-repeat;
    }
  }
  .title-gallery {
    h3 {
      color: @normal4;
    }
    p {
      color: @normal3;
    }
  }
}

@media screen and (max-width: 768px) {
  #gallerymodal {
    background: #000 url(../images/ajax-loader-mobile.gif) center no-repeat;
    .header-gallery {
      a {
        color: @normal1;
        background: url(../images/close-icon-mobile.png) right center no-repeat;
      }
    }
    .title-gallery {
      h3 {
        color: @normal1;
      }
      p {
        color: @normal1;
      }
    }
  }
}

.wk-overlay {
  background: rgba(240, 240, 240, 0.9);
}

#pictures ul {
  margin: -6.5px;
  list-style: none;
  float: none;
  li {
    display: inline;
    float: left;
    margin: 0 6.5px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    cursor: pointer;
    width: 283px;
    height: 132px;
  }
}
[data-brand] img { width: 200px }
img.company-logo { width: 200px }
