@import "styles.less";
// pink palette
// "colors" : ["#A4A4A4", "#DF6B78", "#F3BCC5", "#FFFFFF"]

@pink1: #fff;
@pink2: #A4A4A4;
@pink3: #F3BCC5;
@pink4: #DF6B78;
@pink5: #DF6B78;

// color elements

*{
  a {
    color: @pink3;
  }
}

*::selection {
  background: #ddd;
}
*::-moz-selection {
  background: #ddd;
}
#bdb-main {
	background: @pink1;
	color: @pink4;
}

.default-link {
	color: @pink4;
  &.button-white {
    border-color: @pink1;
    background: @pink1;
    color: @pink4;
    &:hover {
      color: @pink1;
    }
  }
  &.button-dark {
    border-color: @pink4;
    background: @pink4;
    color: @pink1;
    &:hover {
      border-color: @pink3;
    }
    &.icon-address-link {
    background: @pink4 url(../images/address-icon-pink.png) 30px 6px no-repeat; 
  }
  }
}

.border-top {
  border-top: 2px solid @pink3;
}

// Header
header {
  h1 {
    color: @pink4;
    a {
      background: url(../images/line-title-pink.png) left bottom no-repeat;
      &:hover {
        color: @pink3;
      }
    }
  }
  ul {
    li {
      a {
        color: @pink3;
        background: url(../images/pink-arrow.png) center -100px no-repeat;
        &:hover,
        &.actived {
          color: @pink4;
        }
      }
    }
  }
}

// Footer
footer {
  background: @pink5;
  h1 {
    color: @pink1;
    a {
      background: url(../images/line-title-white.png) left bottom no-repeat;
    }
  }
  h4 {
    color: @pink1;
  }
  p {
    color: @pink1;
    &.email-icon {
      background: url(../images/email-icon-pink.png) 0 5px no-repeat;
    }
    &.house-icon {
      background: url(../images/house-icon-pink.png) 0 5px no-repeat;
    }
    &.address-icon {
      background: url(../images/address-icon-pink.png) 0 5px no-repeat;
    }
    &.phone-icon {
      background: url(../images/phone-icon-pink.png) 0 5px no-repeat;
    }
  }
  a {
    color: @pink1;
    &:hover {
      color: @pink3;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    h1 {
      border-top: 2px solid @pink4;
    }
  }
}

.content-destak {
  &.middle-height {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
  h2 {
    color: @pink1;
  }
  p {
    color: @pink1;
  }
}
@media screen and (max-width: 768px) {
  .content-destak {
    h2 {
      background: url(../images/line-title.png) center bottom no-repeat;
    }
  }
}

.article-destak,
.article-destak-text {
  h3 {
    color: @pink4;
  }
  p {
    color: @pink2;
  }
}

form {
  fieldset {
    &.inputs {
      input, 
      textarea {
        border: 1px solid #d1d1d1;
        color: @pink2;
        background: #ececec;
        box-shadow: inset 1px 1px 5px #d1d1d1;
        &:focus{
          border: 1px solid #d1d1d1; 
          background: #fafafa;
        }
      }
    }
  }
}

.form-contact-heading {
  color: @pink4;
}

.form-contact legend {
  color: @pink2;
}

.content-contact {
  color: @pink2;
}

.custom-icon {
  &.hour {
    background: url(../images/hour-pink.png) left 6px no-repeat
  }
  &.address {
    background: url(../images/address-pink.png) left 6px no-repeat 
  }
  &.phone {
    background: url(../images/phone-pink.png) left 6px no-repeat 
  }
}

// Custom Menu
.toggle-menu {
  background: @pink1 url(../images/menu-right-bottom-pink.png) center right no-repeat;
  color: @pink3;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}


@media screen and (max-width: 768px) {
  .custom-menu {
    ul {
      li {
        a {
          background: @pink1 url(../images/menu-right-pink.png) center right no-repeat;
          border-bottom: 1px solid #e5e5e5;
          &.actived {
            background: @pink1 url(../images/menu-right-top-pink.png) center right no-repeat;
            color: @pink4;
          }
          &:hover {
            background-position: center right;
            color: @pink4;
          }
        }
        &.toggle-link {
          background: #f2f2f2 url(../images/menu-top-pink.png) center center no-repeat;
        }
      }
    }
  }
}

.orbit-bullets {
  li {
    background: @pink3;
    &.active {
      background: @pink4;
    }
  }
}

.orbit-container {
  background:  none;
  h3 {
    color: @pink4;
  }
  p {
    color: @pink3;
  }
}

.image-hover-effect {
  .image-description {
    background: rgba(223, 107, 120, 0.9);
    h3 {
      color: @pink1;
    }
    p {
      color: @pink1;
    }
  }
}

#gallerymodal {
  background: url(../images/ajax-loader.gif) center no-repeat;
  .next-photo,
  .prev-photo {
    background: url(../images/prev-arrow.png) no-repeat;
  }
  .next-photo {
    background: url(../images/next-arrow.png) no-repeat;
  }
  .header-gallery {
    a {
      color: @pink4;
      background: url(../images/close-icon-pink.png) right center no-repeat;
    }
  }
  .title-gallery {
    h3 {
      color: @pink4;
    }
    p {
      color: @pink2;
    }
  }
}

@media screen and (max-width: 768px) {
  #gallerymodal {
    background: #000 url(../images/ajax-loader-mobile.gif) center no-repeat;
    .header-gallery {
      a {
        color: @pink1;
        background: url(../images/close-icon-mobile.png) right center no-repeat;
      }
    }
    .title-gallery {
      h3 {
        color: @pink1;
      }
      p {
        color: @pink1;
      }
    }
  }
}

.wk-overlay {
  background: rgba(240, 240, 240, 0.9);
}
