@import "framework/normalize";
@import "framework/foundation";
@import "framework/animate";

#bdb-main {
  font-family: Arial, "Trebuchet Ms", sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.normal-img{
  img{
    width: 100%;
    max-height: 250px;
  }
}

.big-img{
  img{
    width: 100%;
    max-height: 250px;
  }
}

.big-img-about{
  img{
    width: 100%;
    max-height: 320px;
  }
}

// Default layout classes
.replacement {
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}

.default-link {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  height: 41px;
  line-height: 35px;
  padding: 0 20px;
  font-weight: bold;
  border: 3px solid transparent;
  text-align: center;
  &.button-white {
    &:hover {
      background: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .default-link {
    height: 51px;
    line-height: 45px;
  }
  .all-size {
    width: 100%;
  }
  img {
    margin: 0 auto;
  }
}

.push-down {
  margin-top: 60px;
}

.normal-push-down {
  margin-top: 30px;
}

.mobile-push-down {
  margin-top: 30px;
}

.padding-border {
  padding: 11px 0 0 0;
}

// Header
header {
  min-height: 94px;
  position: relative;
  z-index: 2;
  h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    font-family: Arial;
    margin: 38px 0 0 0;
    float: left;
    a {
      padding: 0 0 6px;
      color: inherit;
    }
  }
  ul {
    float: right;
    list-style: none;
    margin: 42px 0 0;
    height: 52px;
    li {
      float: left;
      margin: 0 0 0 2em;
      a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        height: 34px;
        display: block;
        &:hover,
        &.actived {
          background-position: center bottom;
        }
      }
    }
  }
}

// Footer
footer {
  margin: 97px 0 0;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  iframe {
    width: 100%;
  }
  .border-top {
    padding: 32px 0 0;
  }
  h1 {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    font-family: Arial;
    float: left;
    padding: 28px 0 0;
    a {
      padding: 0 0 6px;
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding-left: 34px;
  }
  p {
    font-size: 14px;
    padding: 0 0 0 34px;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 801px) {
  footer {
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    h1 {
      text-align: center;
      margin: 30px 0;
    }
  }
  footer {
    .border-top {
      border: none;
      padding: 0;
    }
    h1 {
      padding: 14px 0 0;
      padding-left: 34px;
      float: none;
      text-align: left;
    }
    h4 {
      font-size: 18px;
    }
  }
}

.content-destak {
  background-position: center;
  background-repeat: no-repeat;
  padding: 144px 0;
  text-align: center;
  margin-bottom: 30px;
  max-height: 700px;
  position: relative;
  z-index: 2;
  &.middle-height {
    padding: 80px 0;
    h2 {
      padding: 0 0 10px;
    }
  }
  h2 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 35px;
  }
  p {
    font-size: 14px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 768px) {
  .content-destak {
    padding: 50px 0 50px 0;
    h2 {
      font-size: 27px;
      padding: 0 0 10px;
    }
    &.middle-height {
      padding: 50px 0;
    }
  }
}


.article-destak,
.article-destak-text {
  h3 {
    font-size: 20px;
    margin: 26px 0 10px;
  }
  p {
    font-size: 14px;
  }
  &.article-destak-text {
    h3 {
      margin: 0 0 10px;
      padding: 20px 0 0 0;
    }
  }
  &.minor-text {
    h3 {
      font-size: 20px;
    }   
    p {
      font-size: 14px;
    }
  }
}

.form-signin-heading {
  font-size: 20px;
}

form {
  fieldset {
   legend {
      font-size: 14px; 
      font-weight: normal;
      margin-bottom: 20px;
      line-height: 1.5em;
      background: none;
    }
    border: none;
    padding: 0;
    margin: 0;
    &.inputs {
      input, 
      textarea {
        resize: none;
        height: 32px;
        &:focus{
          outline: none;
        }
      }
      textarea {
        height: 170px;
      }
    }
  }
}

.content-contact {
  font-size: 14px;
  address {
    font-style: normal;
  }
}

.custom-icon {
  padding: 0 0 0 31px;
}

// Custom Menu
.toggle-menu {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  text-transform: uppercase;
  display: none;
  font-weight: bold;
  padding: 0 15px;
  &.active {
    display: none !important;
  }
}


@media screen and (max-width: 768px) {
  .custom-menu {
    margin: 10px 0 0;
    padding: 0 !important;
    ul {
      margin: 0;
      height: auto;
      li {
        float: left;
        width: 100%;
        margin: 0;
        height: 55px;
        a {
          display: block;
          padding: 0 15px;
          height: 55px;
          line-height: 55px;
          font-size: 20px;
          &:hover {
            background-position: center right;
          }
        }
        &.toggle-link {
          height: 55px;
          cursor: pointer;
        }
      }
    }
  }

  .nav {
    *zoom: 1;
    width: 100%;
  }

  .m-container{
    width: 80%;
    margin: 0 auto;
  }
}

.orbit-prev,
.orbit-next,
.orbit-slide-number {
  display: none;
}

.orbit-bullets {
  margin: 0 auto;
  width: auto;
  text-align: center;
  li {
    border: none;
    width: 9px;
    height: 9px;
    display: inline-block;
    float: none;
    &.active {
    }
  }
}

.orbit-container {
  background:  none;;
  h3 {
    font-size: 20px;
    margin: 24px 0 15px;
  }
  p {
    line-height: 1.5em;
  }
}

.image-hover-effect {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover {
    .image-description {
      -webkit-animation-name: fadeInDown;
      -moz-animation-name: fadeInDown;
      -o-animation-name: fadeInDown;
      animation-name: fadeInDown;
      top: 0;
    }  
  }
  .image-description {
    position: absolute;
    top: -500px;
    left: 0;
    padding: 40px 20px 0;
    text-align: center;
    height: 100%;
    width: 100%;
    h3 {
      padding: 0;
      margin: 0;
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 768px) {
  .image-hover-effect {
    margin: 20px 0 0;
  }
  .mobile-push-down {
    margin: 0px 0 0;
  }
}

#gallerymodal {
  position: relative;
  z-index: 3;
  .next-photo,
  .prev-photo {
    position: absolute;
    top: 50%;
    left: 37px;
    margin-top: -40px;
    width: 19px;
    height: 33px;
    &:hover {
      opacity: 0.7;
    }
  }
  .next-photo {
    left: auto;
    right: 37px;
  }
  .header-gallery {
    height: 52px;
    margin-top: 10px;
    line-height: 52px;
    a {
      float: right;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 20px 0 0;
    }
  }
  .image-container {
    min-height: 200px;
  }
  .title-gallery {
    text-align: center;
    height: 90px;
    padding: 24px 0 30px;
    h3 {
      font-size: 16px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 768px) {
  #gallerymodal {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (orientation:portrait){
  #gallerymodal {
    position: fixed !important;
    top: 0;
    left: 0;
  }
}


.wk-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-contact {
  width: 100%;
  iframe {
    width: 100%;
  }
}